<!DOCTYPE html>
<html>
	<head>
		
		<meta charset="utf-8">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="/assets/css/main.css">
		<link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

		<title>ABUNCHA-RANDOM</title>
		
	</head>
	<body>

		{% include header.html %}

		{{content}}

		{% include footer.html %}
		
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 	<script src="/assets/scripts/jquery.fittext.js"></script>
 	<script type="text/javascript">
 		$(".random").fitText(1.5, { minFontSize: '60px', maxFontSize: '40px' });
 	</script>

	</body>
</html>